<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.3.xsd 
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-4.3.xsd 
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-4.3.xsd"
>      
     <!--  -->
    <context:component-scan base-package="cn.ly.goods.common.controller"></context:component-scan>
    <context:component-scan base-package="cn.ly.goods.user.controller"></context:component-scan>
    <context:component-scan base-package="cn.ly.goods.category.controller"></context:component-scan>
    <context:component-scan base-package="cn.ly.goods.book.controller"></context:component-scan>
    <context:component-scan base-package="cn.ly.goods.cart.controller"></context:component-scan>
    <context:component-scan base-package="cn.ly.goods.order.controller"></context:component-scan>
    <context:component-scan base-package="cn.ly.goods.admin.controller"></context:component-scan>
    <context:component-scan base-package="cn.ly.goods.admin.categoty.controller"></context:component-scan>
    <context:component-scan base-package="cn.ly.goods.admin.book.controller"></context:component-scan>
    <context:component-scan base-package="cn.ly.goods.admin.order.controller"></context:component-scan>
  
  	<mvc:resources location="/bank_img/" mapping="/bank_img/**"></mvc:resources>
  <mvc:resources location="/book_img/" mapping="/book_img/**"></mvc:resources>
  <mvc:resources location="/css/" mapping="/css/**"></mvc:resources>
  <mvc:resources location="/images/" mapping="/images/**"></mvc:resources>
  <mvc:resources location="/jquery/" mapping="/jquery/**"></mvc:resources>
  <mvc:resources location="/js/" mapping="/js/**"></mvc:resources>

    <mvc:resources location="/menu/" mapping="/menu/**"></mvc:resources>
    
      <mvc:resources location="/WEB-INF/jsp/jsps/css/" mapping="/jsps/css/**"></mvc:resources>
      <mvc:resources location="/WEB-INF/jsp/jsps/js/" mapping="/jsps/js/**"></mvc:resources>
  
 	 <mvc:resources location="/WEB-INF/jsp/adminjsps/admin/css/" mapping="/adminjsps/admin/css/**"></mvc:resources>
      <mvc:resources location="/WEB-INF/jsp/adminjsp/admin/js/" mapping="/adminjsps/admin/js/**"></mvc:resources>
  <mvc:annotation-driven></mvc:annotation-driven>
  
  	
  	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
  	
  		<property name="prefix" value="/WEB-INF/jsp/"></property>
  		<property name="suffix" value=".jsp"></property>
  		
  	</bean>
  	
  	<mvc:resources location="/WEB-INF/jsp/jsps/pager/" mapping="/jsps/pager/**"></mvc:resources>
  </beans>
    