* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
    background-color: #f1f1f1;
    font-family: 'Lato', sans-serif;
}

nav {
    height: 80px;
    background-color: #fff;
    line-height: 80px;
    box-shadow: 0 0 5px #333;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

nav .inner .logo {
    font-size: 44px;
    color: #000;
    font-weight: 800;
    display: inline-block;
}

nav .inner {
    width: 1170px;
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
}

.inner .nav {
    display: flex;
    width: 55%;
    margin: 0 auto;
    justify-content: space-between;
}

.inner .nav a {
    width: 100%;
    text-align: center;
    position: relative;
    height: 80px;
    color: #333;
}

.inner .nav a:hover {
    color: #000;
    font-weight: 600;
}

.inner .nav a::after,
.inner .nav a::before {
    content: '';
    height: 1px;
    width: 0%;
    position: absolute;
    background-color: #000;
    transition: all .4s ease-in-out;
}

.inner .nav a::after {
    top: 15%;
    left: 0;
}

.inner .nav a::before {
    bottom: 15%;
    left: 100%;
}

.inner .nav a:hover::after,
.inner .nav a:hover::before {
    width: 100%;
}

.inner .nav a:hover::before {
    left: 0;
}

.inner .nav a:hover::after {
    left: 0;
}

.inner .nav li {
    display: inline-block;
}

.more {
    position: relative;
    width: 100%;
    text-align: center;
    cursor: pointer;
    z-index: 7;
}

#studytips {
    position: absolute;
    top: 38px;
    right: 12px;
    display: block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #333;
    transition: .15s ease-in-out all;
}

.change {
    transform: rotate(180deg);
}

#hidden {
    position: absolute;
    z-index: 6;
    width: 100%;
    border-radius: 0 0 5px 5px;
    display: none;
    background-color: #fff;
}

#hidden li {
    display: block;
    border-bottom: 1px solid #333;
    width: 100%;
    padding: 10px;
    line-height: 20px;
}

.inner .search {
    position: relative;
}

.input {
    width: 25px;
    height: 25px;
    background: none;
    border: 2px solid #333;
    border-radius: 50%;
    box-sizing: border-box;
    outline: none;
    transition: width .3s ease-in-out, border-radius .6s ease-in-out;
}

.inclicked {
    width: 288px;
    border-radius: 0;
    height: 30px;
    padding: 8px 30px 8px 8px;
}

.clicked::after,
.clicked::before {
    content: "";
    width: 2px;
    height: 15px;
    background: #333;
    position: absolute;
    top: 6px;
    left: 10px;
}

.clicked::after {
    transform: rotate(45deg);
}

.clicked::before {
    transform: rotate(-45deg);
}

#serach {
    position: absolute;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: none;
    top: 26px;
    right: 0;
    background: none;
    outline: none;
    cursor: pointer;
}

#serach::before {
    content: "";
    width: 2px;
    height: 15px;
    right: -2px;
    bottom: -8px;
    background: #333;
    position: absolute;
    transform: rotate(-45deg);
    transition: .3s ease-in-out all;
}